In [1]:
import pandas as pd
import numpy as np

In [2]:
전처리데이터셋 = '입지분석_점수.csv'
pd.read_csv('입지분석_점수.csv',encoding='cp949')

,gid,lon,lat,산면적,맛집,명소,문화재,버스정류장,중심관광지,지하철역,해안선,인구수
0,留덈씪4391,129.076518,35.208602,NaN,0,0,0,66,2,3,0.000000,17065.0
1,留덈씪5691,129.219284,35.206658,806198.500,0,0,0,6,0,0,526.867355,0.0
2,留덈씪4386,129.075648,35.163533,765454.785,0,0,1,12,0,0,0.000000,2266.0
3,留덈씪4593,129.098837,35.226341,551887.310,0,0,0,6,0,0,0.000000,8331.0
4,留덈씪3479,128.975718,35.101678,234668.699,1,0,0,25,0,1,0.000000,16307.0
...,...,...,...,...,...,...,...,...,...,...,...,...
967,留덈씪5896,129.242210,35.251409,517455.241,0,0,0,0,0,0,0.000000,NaN
968,留덈씪3073,128.930898,35.048117,NaN,0,0,0,0,0,0,0.000000,NaN
969,留덈씪2977,128.920561,35.084304,NaN,0,0,0,0,0,0,15.133826,NaN
970,留덈씪4574,129.095491,35.055080,264158.757,0,0,0,0,0,0,2565.165058,NaN
971,留덈씪3187,128.944085,35.174189,NaN,0,0,0,6,2,0,0.000000,NaN

In [3]:
df = pd.read_csv(f'{전처리데이터셋}', header=0, encoding='cp949', engine='python')

In [4]:
df.isna().sum()

gid        0
lon        0
lat        0
산면적      255
맛집         0
명소         0
문화재        0
버스정류장      0
중심관광지      0
지하철역       0
해안선        0
인구수      222
dtype: int64

In [5]:
df.fillna(0,inplace=True)

In [6]:
df['교통접근성']=(df['버스정류장']*0.4)+(df['지하철역']*0.6)

In [7]:
df.drop(['버스정류장','지하철역'],axis=1,inplace=True)

In [8]:
점수칼럼=['인구수', '교통접근성', '맛집', '해안선','산면적','문화재', '명소', '중심관광지']
자연_점수칼럼 = ['인구수', '교통접근성', '맛집', '해안선','산면적']
관광_점수칼럼 = ['인구수', '교통접근성', '맛집','문화재', '명소', '중심관광지']

In [9]:
자연_가중치 = [1,2,1,4,3]
관광_가중치=[1,2,1,3,3,3]

In [10]:
자연=['해안선','산면적']
공통=['인구수', '교통접근성', '맛집']
자연_가=[4,3]
공통=[1,2,1]

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[점수칼럼] = scaler.fit_transform(df.loc[:,점수칼럼])

In [12]:
df_자연=df.drop(['문화재', '명소', '중심관광지'],axis=1)
df_관광=df.drop(['산면적','해안선'],axis=1)

In [13]:
for i in range(0, len(관광_점수칼럼)):
    name = 관광_점수칼럼[i]
    df_관광[name] = df_관광[name] * 관광_가중치[i] 

df_관광['sum'] = df_관광[관광_점수칼럼].sum(1)
df_관광['순위'] = df_관광['sum'].rank(method='dense', ascending=False).astype(int)
df_관광 = df_관광.sort_values(by='순위')
df_관광

,gid,lon,lat,맛집,명소,문화재,중심관광지,인구수,교통접근성,sum,순위
694,留덈씪3979,129.030560,35.100998,0.125,3.000000,0.142857,0.818182,0.314802,1.333333,5.734174,1
395,留덈씪5186,129.163457,35.162359,0.500,0.333333,0.035714,3.000000,0.448089,1.163121,5.480257,2
69,留덈씪3879,129.019592,35.101136,0.000,1.000000,2.107143,0.000000,0.657280,1.404255,5.168678,3
104,留덈씪4887,129.130709,35.171820,0.125,1.666667,0.000000,1.909091,0.224348,1.063830,4.988935,4
561,留덈씪4582,129.096896,35.127190,0.250,1.333333,0.928571,0.000000,0.359847,1.475177,4.346929,5
...,...,...,...,...,...,...,...,...,...,...,...
418,留덈씪4097,129.044596,35.263109,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,627
808,留덈씪3998,129.033776,35.272263,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,627
416,留덈씪4796,129.121344,35.253089,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,627
793,留덈씪1976,128.810748,35.076525,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,627
315,留덈씪5292,129.175543,35.216287,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,627

In [65]:
for i in range(0, len(자연)):
    name = 자연[i]
    df_자연[name] = df_자연[name] * 자연_가[i] 
    
df_자연['sum'] = df_자연[자연].sum(1)
df_자연['순위'] = df_자연['sum'].rank(method='dense', ascending=False).astype(int)
df_자연 = df_자연.sort_values(by='순위')
df_자연

,gid,산면적,맛집,해안선,lon,lat,인구수,교통접근성,sum,순위
887,留덈씪2167,1.825819,0.000,3.370389,128.831363,34.995151,0.000000,0.000000,5.196208,1
810,留덈쭏6304,2.214255,0.000,2.661510,129.298740,35.322706,0.000000,0.000000,4.875765,2
209,留덈씪3673,0.944062,0.000,3.921462,128.996667,35.047324,0.000000,0.085106,4.865525,3
508,留덈씪5689,1.005517,0.125,3.490469,129.218904,35.188632,0.001303,0.099291,4.495986,4
125,留덈쭏6204,1.516179,0.000,2.911224,129.287744,35.322869,0.016824,0.000000,4.427403,5
...,...,...,...,...,...,...,...,...,...,...
539,留덈씪4283,0.000000,0.250,0.000000,129.064154,35.136634,0.522477,0.638298,0.000000,784
535,留덈씪3692,0.000000,0.000,0.000000,128.999805,35.218592,0.000424,0.070922,0.000000,784
532,留덈씪3391,0.000000,0.000,0.000000,128.966690,35.209982,0.001849,0.092199,0.000000,784
529,留덈씪3287,0.000000,0.000,0.000000,128.955063,35.174058,0.029767,0.156028,0.000000,784
971,留덈씪3187,0.000000,0.000,0.000000,128.944085,35.174189,0.000000,0.085106,0.000000,784

In [14]:
df_자연.to_csv('C:/Users/soo/!busan/project/정제파일/자연_점수1.csv', index=False, sep=',', encoding='cp949')
df_관광.to_csv('C:/Users/soo/!busan/project/정제파일/관광_점수.csv' ,index=False, sep=',', encoding='cp949')

In [15]:
import pandas as pd
import numpy as np

In [16]:
전처리데이터셋 = '자연_점수1 - 복사본.csv'
pd.read_csv('자연_점수1 - 복사본.csv',encoding='cp949')

,gid,산면적,맛집,해안선,lon,lat,인구수,교통접근성,sum,순위
0,留덈씪2167,1.825819,0.000,3.370389,128.831363,34.995151,0.000000,0.000000,5.196208,1
1,留덈쭏6304,2.214255,0.000,2.661510,129.298740,35.322706,0.000000,0.000000,4.875765,2
2,留덈씪3673,0.944062,0.000,3.921462,128.996667,35.047324,0.000000,0.085106,4.865525,3
3,留덈씪5689,1.005517,0.125,3.490469,129.218904,35.188632,0.001303,0.099291,4.495986,4
4,留덈쭏6204,1.516179,0.000,2.911224,129.287744,35.322869,0.016824,0.000000,4.427403,5
...,...,...,...,...,...,...,...,...,...,...
345,留덈씪4598,1.936361,0.000,0.000000,129.099722,35.271409,0.001576,0.085106,1.936361,346
346,留덈씪2477,0.000000,0.000,1.932477,128.865727,35.084934,0.000000,0.056738,1.932477,347
347,留덈씪2486,1.932384,0.000,0.000000,128.867083,35.166067,0.000000,0.028369,1.932384,348
348,留덈쭏6108,1.931269,0.000,0.000000,129.277536,35.359081,0.000485,0.000000,1.931269,349
349,留덈씪5791,0.271198,0.000,1.654435,129.230266,35.206502,0.000182,0.000000,1.925634,350

In [17]:
df = pd.read_csv(f'{전처리데이터셋}', header=0, encoding='cp949', engine='python')

In [18]:
df.drop(['sum','순위'],axis=1,inplace=True)

In [19]:
공통=['인구수', '교통접근성', '맛집','산면적','해안선']
공통_가중치=[1,3,1,2,2]

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[공통] = scaler.fit_transform(df.loc[:,공통])

In [21]:
df.describe()

,산면적,맛집,해안선,lon,lat,인구수,교통접근성
count,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000
mean,0.729347,0.008214,0.127330,129.084770,35.209069,0.064190,0.073630
std,0.308189,0.059655,0.248857,0.127501,0.095633,0.177096,0.143521
min,0.000000,0.000000,0.000000,128.800927,34.995151,0.000000,0.000000
25%,0.666138,0.000000,0.000000,129.020975,35.137227,0.000000,0.000000
50%,0.836205,0.000000,0.000000,129.121973,35.224449,0.000753,0.000000
75%,0.959342,0.000000,0.000000,129.186666,35.280092,0.010890,0.090164
max,1.000000,1.000000,1.000000,129.309938,35.387228,1.000000,1.000000

In [22]:
for i in range(0, len(공통)):
    name = 공통[i]
    df[name] = df[name] * 공통_가중치[i] 

df['sum'] = df[공통].sum(1)
df['순위'] = df['sum'].rank(method='dense', ascending=False).astype(int)
df = df.sort_values(by='순위')
df

,gid,산면적,맛집,해안선,lon,lat,인구수,교통접근성,sum,순위
246,留덈씪3373,0.016800,0.000,1.211667,128.963783,35.047725,1.000000,3.000000,5.228467,1
335,留덈씪4276,0.749913,0.125,0.425707,129.062949,35.073536,0.806986,2.852459,4.960064,2
178,留덈씪3474,0.009378,0.000,1.349990,128.974906,35.056606,0.973903,2.409836,4.743108,3
311,留덈씪3894,1.414693,0.000,0.000000,129.022110,35.236346,0.925324,1.377049,3.717066,4
180,留덈씪4779,0.020429,0.000,1.341359,129.118304,35.099858,0.814915,1.475410,3.652112,5
...,...,...,...,...,...,...,...,...,...,...
309,留덈씪2067,0.247882,0.000,0.876557,128.820408,34.995271,0.000000,0.000000,1.124438,346
336,留덈씪5995,0.051290,0.000,0.949032,129.253003,35.242237,0.005019,0.098361,1.103701,347
302,留덈쭏6001,0.000000,0.000,1.084086,129.265162,35.296154,0.012546,0.000000,1.096633,348
332,留덈씪2372,0.173478,0.000,0.870765,128.854016,35.039983,0.000000,0.000000,1.044243,349
349,留덈씪5791,0.180799,0.000,0.827218,129.230266,35.206502,0.000602,0.000000,1.008619,350

In [23]:
df.to_csv('C:/Users/soo/!busan/project/정제파일/자연_점수3.csv' ,index=False, sep=',', encoding='cp949')